body{
    display: flex;
    justify-content: center;
}
article{
    background-color: #000000;
    margin: 230px 253px;
    padding: 45px;
    width: 100%;
    font-size: 3rem;
}
.icon{
    color: yellow;
    display: inline;
}
span{
    color: #ffffff;
    cursor: pointer;
}
span:hover{
    color: #ff0000;
}
span:hover+span{
    color: #f3a6b1;
}
spna:hover~span{
    color: #ffffff;
}

@media only screen and (min-width: 300px) and (max-width: 500px){
    body{
        background-color: black;
    
    }
    article{
        background-color: #000000;
        margin: 8em 0em;
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 600px) and (max-width: 800px){
    body{
        background-color: black;
    }
    article{
        background-color: #000000;
        margin: 8em 3em;
        font-size: 1.5rem;

    }
}